@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

.typewriter {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: #333;
}

.typewriter h1,
.typewriter h2,
.typewriter h3,
.typewriter h4,
.typewriter h5,
.typewriter h6 {
  font-weight: bold;
  margin: 0;
}

.typewriter a {
  color: #333;
  text-decoration: underline;
}

.typewriter a:hover {
  color: #666;
}